*{
  margin: 0;
  padding: 0;
}

html,body{
  font-size: 18px;
}

img{
  width: 500px;
  height: 350px;
}

.container{
  max-width: 1200px;
  margin: 30px auto;
  background:gray;
  padding: 30px;
  text-align: center;
}

h1{
  text-align: center;
  margin-bottom: 40px;
}

button{
  border: 1px solid black;
  border-radius: 4px;
  padding: 10px 20px;
  font-size: 1rem;
}

button:hover{
  background-color: lime;
}

button:active{
  background-color: #000;
  color: #fff;
}

.slider{
  width: 500px;
  height: 350px;
  border: 5px solid black;
  margin: 30px auto;
  overflow: hidden;
}

.slider-line{
  height: 350px;
  width: 2000px;
  display: flex;
  position: relative;
  left: 0;
  transition: all ease 1s;
}






